@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1280px;
	margin: 0 auto;

	@media (max-width: 768px) {
		margin: 0 20px;
	}
}

.content {
	padding: 40px 0px 0px 0px;
	flex: 1 1 auto;
}

.header {
	position: fixed;
	background-color: #000;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 2;
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 60px;
		align-items: center;
	}

	&__logo {
		overflow: hidden;
		display: block;
		z-index: 5;
		text-decoration: none;

		p {
			color: #fff;
			font-size: 30px;
			font-weight: 700;
		}
	}

	&__list {
		display: flex;
		position: relative;
		z-index: 2;

		li {
			list-style-type: none;
			margin: 0px 0px 0px 20px;
		}
	}

	&__link {
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		letter-spacing: 0.65px;
	}
}

@media (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}

	.header {
		&__body {
			height: 100px;
		}

		&__logo {
			flex: 0 0 100px;
		}

		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			position: relative;
			z-index: 4;

			span {
				position: absolute;
				background-color: #fff;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
			}

			&:before,
			&:after {
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}

			&.active span {
				transform: scale(0);
			}

			&.active:before {
				transform: rotate(45deg);
				top: 9px;
			}

			&.active:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}

		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: grey;
			padding: 140px 0px 20px 0px;
			transition: all 0.3s ease 0s;
			text-align: center;
			overflow: auto;

			&.active {
				top: 0;
			}
		}

		&__list {
			display: block;
			margin: 0;

			li {
				margin: 0px 0px 40px 0px;
				&:last-child{
					margin: 0;
				}
			}
		}

		&__link {
			font-size: 30px;
			font-weight: 400;
			color: #fff;
			letter-spacing: 1.5;
		}
	}
}